name: Test

on:
  push:
    branches:
      - main


jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        id: changelog
        with:
          base: bcd6c5c83303667d07f8f0eefabffb6260b0e24f
      - name: Print changelog
        run: echo "${{ steps.changelog.outputs.changelog }}"